
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

@*Create the Categories/Details view that uses the ViewBag to display the message set in the controller Details method*@
@ViewBag.statement

