
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*- Create view the Categories/Index that shows this list of categories:
	- Food
	- Tech
	- Sports
- Each category links to /categories/details and passes the category name as a link parameter.*@

<h1>Categories</h1>

<ul>
    <li>
        <a asp-controller="Categories" asp-action="Details" asp-route-categories="Food">Food</a>
    </li>
    <li>
        <a asp-controller="Categories" asp-action="Details" asp-route-categories="Tech">Tech</a>
    </li>
    <li>
        <a asp-controller="Categories" asp-action="Details" asp-route-categories="Sports">Sports</a>
    </li>
</ul>